<div class="header-bar navbar">
  <div class="container header-container">
    <div class="navbar-header">
      <%= link_to t("static_pages.logo"), root_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to t(".home"), root_path %></li>
      <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            </span><%= current_user.name %><b class="caret"></b>
          </a>
          <ul class="dropdown-menu header-drop">
            <li><%= link_to t("users.profile"), "#" %></li>
            <li><%= link_to t("users.edit_profile"),
              edit_user_registration_path(current_user) %></li>
            <li class="divider"></li>
            <li>
              <%= link_to t("users.sign_out"), destroy_user_session_path,
                method: :delete %>
            </li>
          </ul>
        </li>
      <% else %>
        <li>
          <%= link_to t("users.sign_in"), new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
